h1 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: small-caps;
  text-decoration-style: wavy ;
}

h2 {
    color:brown;
}

h3{
    color: purple;
}

.section a {
color:teal;
font-size: 10px;

}

body {
    background-color: burlywood;
}

a:hover{
    color:lightskyblue;
}

button{
    color:white;
    font-weight: bold;
    background-color: lightslategray;
}

button:hover{
    color:white;
    background-color: black;
}

p::first-letter{
    font-weight: bold;
}

