h1 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: small-caps;
  text-decoration-style: wavy ;
}

body {
    background-color: white;
}

a:hover{
    color:lightskyblue;
}

p{
    border-width: thick;
}
p::first-letter {
    font-weight: bold;
}

h3 {
    text-align: center;
}
 
#see_also{
    text-align: left;
}